<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="//apis.zhisg.com/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/{DT_SKIN}common.css"/>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<title>信息提示</title>
<style>
	body{background:#FFF; text-align: center;}
	.msg{font-size: 1.8em;}	
	.flex-center {
    align-items: center;
    display: flex;
	flex-direction: column;
    justify-content: center;
    height: 90vh;
}

</style>

</head>

<body>
<header>
<div class="home-nav"><a class="back" href="javascript:history.back();"></a><h1>{if isset($msgtitle)}{$msgtitle}{else}信息提示{/if}</h1><a href="member.php"><span class="member-right"></span></a></div>
</header>
<span class="hr20"></span>
<div class="msg flex-center">
	{$thmessage}
</div>
</body>
</html>
